pkgbase = zram-swap-git
	pkgdesc = A simple zram swap service for modern systemd Linux
	pkgver = 02.r2.g5758ac0
	pkgrel = 2
	url = https://github.com/foundObjects/zram-swap.git
	arch = any
	license = MIT
	depends = systemd
	depends = sh
	depends = grep
	depends = awk
	depends = util-linux
	depends = kmod
	backup = etc/default/zram-swap
	source = git+https://github.com/foundObjects/zram-swap.git
	sha512sums = SKIP

pkgname = zram-swap-git
	provides = zram-swap
