# portion of real ram to use as zram swap (expression: "1/2", "0.5", etc)
_zram_fraction="1/2"

# compression algorithm to employ (lzo, lz4, zstd, lzo-rle)
_zram_algorithm="lz4"

# expected compression ratio; this is a rough estimate
#_comp_factor="2.5"

# Note:
# set _comp_factor by hand if you use an algorithm other than lzo/lz4/zstd or if your
# use case produces drastically different compression results than my estimates
#
# defaults if otherwise unset:
#	lzo*|zstd)  _comp_factor="3"   ;;
#	lz4)        _comp_factor="2.5" ;;
#	*)          _comp_factor="2"   ;;
#
