# compression algorithm to employ (lzo, lz4, zstd, lzo-rle)
# default: lz4
_zram_algorithm="lz4"

# portion of system ram to use as zram swap (expression: "1/2", "2/3", "0.5", etc)
# default: "1/2"
_zram_fraction="1/2"

# setting _zram_swap_debugging to any non-zero value enables debugging
# default: undefined
#_zram_swap_debugging="beep boop"

# expected compression factor; set this by hand if your compression results are
# drastically different from the estimates below
#
# Note: These are the defaults coded into /usr/local/sbin/zram-swap.sh; don't alter
#       these values, use the override variable '_comp_factor' below.
#
# defaults if otherwise unset:
#	lzo*|zstd)  _comp_factor="3"   ;; # expect 3:1 compression from lzo*, zstd
#	lz4)        _comp_factor="2.5" ;; # expect 2.5:1 compression from lz4
#	*)          _comp_factor="2"   ;; # default to 2:1 for everything else
#
#_comp_factor="2.5"

# if set skip device size calculation and create a fixed-size swap device
# (size, in MiB/GiB, eg: "250M" "500M" "1.5G" "2G" "6G" etc.)
#
# Note: this is the swap device size before compression, real memory use will
#       depend on compression results, a 2-3x reduction is typical
#
#_zram_fixedsize="2G"

# vim:ft=sh:ts=2:sts=2:sw=2:et:
