[Unit]
Description=zram swap service
Requires=systemd-modules-load.service
Before=shutdown.target
#After=

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/zram-swap.sh start
ExecStop=/usr/local/sbin/zram-swap.sh stop
RemainAfterExit=true

[Install]
WantedBy=sysinit.target
#RequiredBy=

